

.IntroSection{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10px;
    /* border: 2px solid black ; */
}

.IntroText1{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    width: 95%;
}


.IntroText1 h2{
    font-family: 'poppins';
    font-size: 2.5rem;
    color: #E07C3F;
    text-align: left;
    margin: 1rem 0.4rem;
    padding: 0.4rem;
}

.IntroImg{
    outline: 5px  solid #3D4E48;
    border-radius: 10px;
    padding: 1rem;
    /* background-color: #E07C3F; */
    grid-area: 1 / 2 / 3 / 3;
}

.IntroImg img{
    height: 100%;   
    width: 100%;
    aspect-ratio: 600 / 550;
}


.IntroQuote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    justify-self: center;
    align-self: self-start;
    background-color: rgba(211, 211, 211, 0.5);
    padding: 2rem 1rem;
    margin: 2rem;
    border-radius: 10px;
}
.IntroQuote .quote{
    width: 80%;
    font-size: 1rem;
    color: #E07C3F;
}
.IntroQuote .person-name, .IntroQuote .person-info{
    width: 80%;
    font-size: 0.9rem;
    font-style: italic;
    margin: 0;
    padding: 0;

}


@media screen and (max-width: 1024px) {
    .IntroImg{
        align-self: baseline;
        position: sticky;
        top: 30px;
        margin: 2rem 0;
    }
}

@media screen and (max-width: 768px){

    .IntroSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .IntroImg{
        display: flex;
        align-self: center;
        position: static;
        grid-area: 2 / 1 / 3 / 2;
        width: 80%;
        margin: 10px;
    }
    .IntroQuote{
        align-self: center;
    }

}

