.SideNav{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 5vw;
    background-color: #3D4E48;
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 0px;

    transition: all 300ms ease-in-out;
}

.hamburger-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.hamburger-button div{
    width: 20px;
    border: 2px solid lightgray;
    margin: 2px;
    border-radius: 5px;
}

.SideNav:hover{
    width: 25vw;
}


.SideNav a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3D4E48;
    opacity: 0;

    font-family: 'poppins';
    font-size: 0.9rem;
    font-weight: 500;
    overflow: hidden;
    text-wrap:nowrap ;

    height: 60px;
    width: 95%;
    margin: 0px;
    padding: 0.5rem;
    
    transition: all 400ms ease-in-out;
}

.SideNav:hover a{
    opacity: 1;
    overflow: hidden;
    max-height: 75px;
}
.SideNav:hover a:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

/* The filler space to shift the Main body content to right. 
   Doing this to so that the hover effect doesn't shift the main content each time upon hovering
*/
.SideNavFiller{
    height: 100vh;
    width: 5vw;
    background-color: transparent;
}

@media screen and (max-width: 1024px) {
    .SideNav:hover{
        width: 20vw;
    }
}

@media screen and (max-width: 425px) {
    .SideNav:hover{
        width: 40vw;
    }
}